@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 60.5%;
  /* =10px */
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 5rem;
}

.header {
  position: relative;
  background: url(../img/header/header-bg.png) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  height: 95vh;
  /*TITLE*/
}
.header__logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
}
.header__nav-button {
  position: absolute;
  top: 5rem;
  right: 5rem;
}
.header .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  /*Button*/
}
.header .title__main {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  -webkit-animation: leftToRight 1.1s ease 0.1s;
          animation: leftToRight 1.1s ease 0.1s;
}
.header .title__secondary {
  font-weight: 200;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  -webkit-animation: rightToLeft 1.1s ease 0.1s;
          animation: rightToLeft 1.1s ease 0.1s;
  margin-bottom: 5rem;
}
.header .title .btn {
  text-transform: uppercase;
  display: inline-block;
  background: #fff;
  border-radius: 50px;
  padding: 1.5rem 4rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.5rem;
  color: #777777;
  -webkit-animation: btnUp 1.1s ease 0.1s;
          animation: btnUp 1.1s ease 0.1s;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.header .title .btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.header .title .btn:hover:hover::after {
  opacity: 0;
  -webkit-transform: scaleX(1.5) scaleY(1.7);
          transform: scaleX(1.5) scaleY(1.7);
}
.header .title .btn:active {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.header .title .btn::after {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

/*TITLE*/
/*Animation*/
@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
    color: burlywood;
  }
  20% {
    color: burlywood;
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
    color: burlywood;
  }
  20% {
    color: burlywood;
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}
@-webkit-keyframes rightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(15rem);
            transform: translateX(15rem);
    color: burlywood;
  }
  20% {
    color: burlywood;
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(15rem);
            transform: translateX(15rem);
    color: burlywood;
  }
  20% {
    color: burlywood;
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}
@-webkit-keyframes btnUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15rem);
            transform: translateY(15rem);
    color: burlywood;
    background: burlywood;
  }
  20% {
    color: burlywood;
  }
  80% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
@keyframes btnUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15rem);
            transform: translateY(15rem);
    color: burlywood;
    background: burlywood;
  }
  20% {
    color: burlywood;
  }
  80% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}